

@{
    ViewData["Title"] = "AddSingleContact";
}

<!-- Content area -->
<div class="content">

    <div class="pb-3">
        <h4 class="d-inline">Create Contact</h4>
        <a href="" class="btn btn-primary float-right"> <i class="icon-file-check2"></i> Save</a>
    </div>

    <!-- navigation -->
    <!-- /navigation -->

    <div class="row">
        <div class="col-md-6">
            <div class="pl-5 pr-3">
                <h4>Add Contact Details</h4>
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email Address *</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lasttName" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lasttName">
                        </div>
                    </div>

                    <!-- Standard Fields -->



                    <div class="row-fluid summary pb-4">
                        <span>Standard Fields</span>
                        <a class="btn border border-primary float-right" data-toggle="collapse" data-target="#intro" id="showHide">Show</a>
                    </div>
                    <div class="row-fluid summary">
                        <div id="intro" class="collapse">
                            <div class="form-group row">
                                <label for="city" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="city">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="address">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /Standard Fields -->
                    <!-- Custom Fields -->

                    <div class="row-fluid summary pb-4">
                        <span>Standard Fields</span>
                        <a class="btn border border-primary float-right" data-toggle="collapse" data-target="#intro2" id="showHideCustom">Show</a>
                    </div>
                    <div class="row-fluid summary">
                        <div id="intro2" class="collapse">
                            <div class="form-group row">
                                <label for="role" class="col-sm-3 col-form-label">Role</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="role">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="joinDate" class="col-sm-3 col-form-label">Join Date</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="joinDate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /Custom Fields -->
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Where you want to add this contract?</h3>


            <form action="">
                <!-- selected -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Select All Lists</label>
                </div>
                <div class="bg-white">
                    <p class="p-2">
                        <i class="icon-collaboration"></i>&nbsp;&nbsp; <span>No</span> <span>List</span> Selected
                    </p>
                </div>

                <div class="bg-white">
                    <ul class="list-group">
                        <li class="list-group-item border-bottom">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck2">
                                    First Contract
                                    <span class="border p-1">
                                        <span>2</span>&nbsp;&nbsp;
                                        <i class="fas fa-user"></i>
                                    </span>
                                </label> &nbsp;&nbsp;
                            </div>
                        </li>
                        <li class="list-group-item border-bottom">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck2">
                                    Teacher
                                    <span class="border p-1">
                                        <span>7</span>&nbsp;&nbsp;
                                        <i class="fas fa-user"></i>
                                    </span>
                                </label> &nbsp;&nbsp;
                            </div>
                        </li>
                        <li class="list-group-item border-bottom">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck2">
                                    Friends
                                    <span class="border p-1">
                                        <span>6</span>&nbsp;&nbsp;
                                        <i class="fas fa-user"></i>
                                    </span>
                                </label> &nbsp;&nbsp;
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck2">
                                    Students
                                    <span class="border p-1">
                                        <span>120</span>&nbsp;&nbsp;
                                        <i class="fas fa-user"></i>
                                    </span>
                                </label> &nbsp;&nbsp;
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /selected -->

            </form>
        </div>
    </div>



</div>
<!-- /content area -->
