@model EmailMarketing.Web.Areas.Member.Models.Contacts.ContactsModel

@{
    ViewData["Title"] = "Contacts";
}


<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">

        <div class="pb-3">
            <h4 class="d-inline">Contacts</h4>
            <a asp-area="Member" asp-controller="Contacts" asp-action="UploadContacts" class="btn btn-primary float-right">
                <i class="icon-file-upload2"></i> Upload Contracts
            </a>
        </div>

        <!-- Basic datatable -->
        <div class="card">
            <div>
                <partial name="_ActionMessage" model="@Model.Response" />
            </div>

            <table class="table datatable-basic">
                <thead>
                    <tr>
                    <th>Group</th>
                    <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contacts)
                    {
                        <tr>
                            @*<td>@item.Group.Name</td>*@
                            <td>@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>

            @*<table class="table datatable-basic">
                <thead>
                    <tr>
                        <th>E-Mail Address</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Added Date</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>teama@gmail.com</td>
                        <td>Dev</td>
                        <td>Skill</td>
                        <td>12/02/2020</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-more"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="Member" asp-controller="Contacts" asp-action="EditContact" class="dropdown-item text-primary"><i class="icon-pencil7"></i>Edit</a>
                                        <a href="#" class="dropdown-item text-danger"><i class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>*@
        </div>
        <!-- /basic datatable -->

    </div>
    <!-- /content area -->
</div>
<!-- /main content -->
