
@{
    ViewData["Title"] = "MapFields";
}

<!-- Content area -->
<div class="content">

    <div class="pb-3">
        <h4 class="d-inline">Add Contacts</h4>
    </div>

    <!-- navigation -->
    <!-- /navigation -->
    <!-- Table -->
    <div class="scrollmenu bg-field-map ">
        <div class="">
            <table class="table">
                <tr class="text-center">
                    <th>
                        <div class="btn-group justify-content-center border border-primary">
                            <a href="#" class="btn bg-light dropdown-toggle status-dropdown" data-toggle="dropdown">--- Ignore ---</a>

                            <div class="dropdown-menu text-center">
                                <a href="#" class="dropdown-item">Name</a>
                                <a href="#" class="dropdown-item">Email</a>
                                <a href="#" class="dropdown-item">Gender</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class=""> <i class="icon-plus22"></i> Create Custom Field</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group justify-content-center border border-primary">
                            <a href="#" class="btn bg-light dropdown-toggle status-dropdown" data-toggle="dropdown">--- Ignore ---</a>

                            <div class="dropdown-menu text-center">
                                <a href="#" class="dropdown-item">Name</a>
                                <a href="#" class="dropdown-item">Email</a>
                                <a href="#" class="dropdown-item">Gender</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class=""> <i class="icon-plus22"></i> Create Custom Field</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group justify-content-center border border-primary">
                            <a href="#" class="btn bg-light dropdown-toggle status-dropdown" data-toggle="dropdown">--- Ignore ---</a>

                            <div class="dropdown-menu text-center">
                                <a href="#" class="dropdown-item">Name</a>
                                <a href="#" class="dropdown-item">Email</a>
                                <a href="#" class="dropdown-item">Gender</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class=""> <i class="icon-plus22"></i> Create Custom Field</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group justify-content-center border border-primary">
                            <a href="#" class="btn bg-light dropdown-toggle status-dropdown" data-toggle="dropdown">--- Ignore ---</a>

                            <div class="dropdown-menu text-center">
                                <a href="#" class="dropdown-item">Name</a>
                                <a href="#" class="dropdown-item">Email</a>
                                <a href="#" class="dropdown-item">Gender</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class=""> <i class="icon-plus22"></i> Create Custom Field</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group justify-content-center border border-primary">
                            <a href="#" class="btn bg-light dropdown-toggle status-dropdown" data-toggle="dropdown">--- Ignore ---</a>

                            <div class="dropdown-menu text-center">
                                <a href="#" class="dropdown-item">Name</a>
                                <a href="#" class="dropdown-item">Email</a>
                                <a href="#" class="dropdown-item">Gender</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class=""> <i class="icon-plus22"></i> Create Custom Field</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group justify-content-center border border-primary">
                            <a href="#" class="btn bg-light dropdown-toggle status-dropdown" data-toggle="dropdown">--- Ignore ---</a>

                            <div class="dropdown-menu text-center">
                                <a href="#" class="dropdown-item">Name</a>
                                <a href="#" class="dropdown-item">Email</a>
                                <a href="#" class="dropdown-item">Gender</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class=""> <i class="icon-plus22"></i> Create Custom Field</a>
                            </div>
                        </div>
                    </th>

                </tr>
                <tr class="text-center bg-col-header text-muted">
                    <td class="">First Name</td>
                    <td>Last Name</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>Gender</td>
                    <td>Role</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
                <tr class="text-center">
                    <td>Dev</td>
                    <td>Skill</td>
                    <td>Dhaka</td>
                    <td>devskill@gmail.com</td>
                    <td>Male</td>
                    <td>Developer</td>
                </tr>
            </table>
        </div>
    </div>


    <h5 class="text-muted">Preview: Showing 10 rows out of 20</h5>

    <div class="pt-3">
        <a asp-area="Member" asp-controller="Contacts" asp-action="ChooseActions"  class="btn btn-primary">Choose Actions</a>
    </div>



</div>
<!-- /content area -->
