
@{
    ViewData["Title"] = "Review";
}

<!-- Content area -->
<div class="content">

    <div class="pb-3">
        <h4 class="d-inline">Add Contacts to Groups</h4>
    </div>

    <!-- navigation -->
    <!-- /navigation -->

    <div class="row">
        <div class="col-md-6 m-auto text-center">
            <h3 class="mb-0 pb-0">Almost done! Review your upload below.</h3>
            <h5 class="pt-0 mt-0">If everything looks good, click 'Confirm My Upload' below.</h5>


            <form action="">
                <div class="bg-white text-left pl-3">
                    <h3 class="pt-3">
                        Contact Upload Summary
                    </h3>
                    <div class="pb-3">
                        <div class="w-25 d-inline-block">
                            <span class="font-weight-bold">File Name</span>
                        </div>
                        <div class="w-75 d-inline">
                            <span>FileName.xlsx</span>
                        </div>
                    </div>
                    <div class="pb-3">
                        <div class="w-25 d-inline-block">
                            <span class="font-weight-bold">Contacts Detected</span>
                        </div>
                        <div class="w-75 d-inline">
                            <span>14</span>
                        </div>
                    </div>
                </div>

                <div class="bg-white text-left p-3 mt-3">
                    <div class="pb-3">
                        <div class="dropdown-item form-check form-check-switchery ">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-input-switchery" checked data-fouc>
                                <span class="font-weight-bold">Send email notification once upload is complete</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-md-3 col-form-label">Email Address</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <a href=" " class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Confirm My Upload</a>
                    <a href=" " class="mt-2 d-block">Cancel, and go back</a>
                </div>
            </form>
        </div>
    </div>



</div>
<!-- /content area -->
<!-- Done modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Completed Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body-text">
                    <div class="text-center p-3 text-success"><i class="icon-rocket icon-5x"></i></div>
                    <p>Congrats! <span>14</span> contracts are currently being processed! This could take a few minutes .In the meantime you can continue working in DevSkill Email marketting.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-area="Member" asp-controller="Contacts" asp-action="ManageUploads" class="btn btn-primary">Done</a>
            </div>
        </div>
    </div>
</div>
<!-- /Done modal -->