
@{
    ViewData["Title"] = "UploadContacts";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">

        <div class="pb-3">
            <h4 class="d-inline">Upload Contacts</h4>
        </div>

        <!-- navigation -->
        <!-- /navigation -->


        <div class="row">
            <div class="col-md-8">
                <form action="" method="post">
                    <div class="card p-5 card-border-dotted">
                        <div class="text-center p-5">
                            <h4>
                                Browse your computer and select a file to upload.
                            </h4>
                            <p class="text-muted">Recommended file formats: .csv, .xls, .xlsx</p>
                            <input id="upload" type="file" />
                            <a href="" type="submit" class="btn btn-primary" id="upload_link"> <i class="icon-upload4"></i> Upload</a>
                        </div>
                    </div>
                    <div class="pt-3">
                        <div class="form-group">
                            <div class="form-check form-check-inline form-check-switchery">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-input-switchery" checked data-fouc>
                                    Column Headers
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <a asp-area="Member" asp-controller="Contacts" asp-action="MapFields" class="btn btn-primary">Map Fields</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="col-12">
                    <div class="card p-2">
                        <h6 class="font-weight-bold">Helpful Tips:</h6>
                        <ul>
                            <li>Need help formatting? Download a sample file <a href="~/memberTheme/assets/demo.xlsx" download>here</a> and add your contacts. Once you save the file, you can upload it on the left.</li>
                            <li>For importing larger files, we recommend using xlsx for best performance.</li>
                            <li>Date fields must be in MM/DD/YYYY format.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card p-2">
                        <h6 class="font-weight-bold">Helpful Tips:</h6>
                        <ul>
                            <li><a asp-area="Member" asp-controller="Resources" asp-action="ImportContact" target="_blank">How to Upload Contacts</a></li>
                            <li><a asp-area="Member" asp-controller="Resources" asp-action="HelpfulTips" target="_blank">Helpful Tips</a></li>
                            <li><a asp-area="Member" asp-controller="Resources" asp-action="CreateCSVFile" target="_blank">Create a CSV File</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- /content area -->

</div>
<!-- /main content -->
