
@{
    ViewData["Title"] = "Index";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="user_welcome">
            <span class="user_welcome_title">Welcome back, Team A!</span>
            <p class="user_welcome_subtitle text-muted">Let's quick Start</p>
        </div>
        <div class="content-main">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-12">

                            <div class="card text-center card-box-shadow">
                                <div class="card-body">
                                    <i class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                    <h5 class="card-title">View Reports</h5>
                                    <p class="mb-3">You can see your contracts which you added previously.</p>
                                    <a href="#" class="btn bg-success-400"><i class="icon-eye"></i> View Reports</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-8">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-list2 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">View Your Contracts</h5>
                                            <p class="mb-3">You can see your contracts which you added previously.</p>
                                            <a href="#" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-upload4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Upload Contacts</h5>
                                            <p class="mb-3">Upload your contracts from exel sheet.</p>
                                            <a href="#" class="btn bg-success-400"><i class="icon-upload4"></i> Upload Contacts</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">View Groups</h5>
                                            <a href="#" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Create Group</h5>
                                            <a href="#" class="btn bg-success-400"><i class="icon-plus22"></i> Create</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-4">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-plus22 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Create Campaign</h5>
                                            <p class="mb-3">Upload your contracts from exel sheet.</p>
                                            <a href="#" class="btn bg-success-400"><i class="icon-plus22"></i> Create</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-paperplane icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">View Your Campaigns</h5>
                                            <p class="mb-3">You can see your campaigns which you added previously.</p>
                                            <a href="#" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-5">


                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card card-body bg-lignt text-dark text-center user_free_trial card-box-shadow m-0 p-0 pt-3">

                                <a href="#" class="d-inline-block mb-3">
                                    <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-round" width="110" height="110" alt="">
                                </a>

                                <div class="mb-3">
                                    <h5 class="font-weight-semibold mb-0 mt-1">
                                        DevSkill Team A
                                    </h5>

                                    <span class="d-block">Head of UX</span>
                                    <span class="d-block py-3">29 days left in your trial.</span>
                                </div>



                                <ul class="list-inline mb-0">
                                    <button type="button" class="btn btn-primary">Upgrate</button>
                                </ul>
                                <img src="~/memberTheme/images/wave.png" alt="" class="w-100 img-fluid m-0 p-0">
                            </div>
                        </div>
                    </div>



                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <h4 class="mb-0 pt-0">100</h4>
                                    <h5 class="mt-0 pt-0">Contracts</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <h4 class="mb-0 pt-0">15</h4>
                                    <h5 class="mt-0 pt-0">Groups</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <h4 class="mb-0 pt-0">5</h4>
                                    <h5 class="mt-0 pt-0">Campaigns</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="mr-3">
                                            <a href="#">
                                                <img src="~/memberTheme/images/hand-shake.png" class="rounded-circle" width="70" height="50" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <h4>Contract with Email marketting Support</h4>
                                            <a href="#" class="font-weight-semibold text-default">
                                                <span><i class="icon-phone-wave"></i> +880178840570</span>&nbsp;&nbsp;&nbsp;
                                            </a>
                                            <a href="#" class="font-weight-semibold text-default">
                                                <span><i class="icon-mail5"></i> teama@gmail.com</span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->
