
@{
    ViewData["Title"] = "Index";
}

<!-- Content area -->
<div class="content">
    <div class="user_welcome">
        <h3 class="user_welcome_title">Dashboard</h3>
        <p class="text-muted">User Summary</p>
    </div>
    <div class="content-main">

        <div class="row">
            <div class="col-12">
                <div class="card text-center card-box-shadow">
                    <div class="card-body">
                        <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                        <h5 class="card-title">View Members</h5>
                        <p class="mb-3">You can see Member list which is in your database</p>
                        <a asp-controller="MemberUsers" asp-action="Index" asp-area="Admin" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">120</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Total User</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-user-check icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">10</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Active Users</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-user-block icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">120</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Block Users</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="card card-box-shadow">
                            <div class="card-body">
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="icon-envelop3 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                    </div>

                                    <div class="media-body">
                                        <h3 class="font-weight-bold mb-0 pb-0">110</h3>
                                        <h4 class="font-weight-bold mt-0 pt-0">Email Confirm</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-box-shadow">
                            <div class="card-body">
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="icon-envelop4 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                    </div>

                                    <div class="media-body">
                                        <h3 class="font-weight-bold mb-0 pb-0">10</h3>
                                        <h4 class="font-weight-bold mt-0 pt-0">Email UnConfirm</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card card-box-shadow">
                            <div class="card-body">
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="icon-phone2 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                    </div>

                                    <div class="media-body">
                                        <h3 class="font-weight-bold mb-0 pb-0">100</h3>
                                        <h4 class="font-weight-bold mt-0 pt-0">Phone Number Confirm</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-box-shadow">
                            <div class="card-body">
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="icon-phone-slash icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                    </div>

                                    <div class="media-body">
                                        <h3 class="font-weight-bold mb-0 pb-0">20</h3>
                                        <h4 class="font-weight-bold mt-0 pt-0">Phone Number UnConfirm</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->

