
@{
    ViewData["Title"] = "SendMail";
}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="pb-3">
            <h1 class="text-center">How to send mail</h1>
            
        </div>


    </div>
    <!-- /Content area -->
</div>

<!-- /Main content -->
