
@{
    ViewData["Title"] = "SendMail";
}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="pb-3">
            <h1 class="text-center">How to send mail</h1>
             <video width="300" height="200" controls>
             <source src ="video.mp4" type="video/mp4" />
               </video>
        </div>


    </div>
    <!-- /Content area -->
</div>

<!-- /Main content -->
