@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Registration form -->
            <form id="account" class="login-form" method="post">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Create account</h5>
                            <span class="d-block text-muted">All fields are required</span>
                        </div>

                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2">Your credentials</span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control" asp-for="UserName" placeholder="Username">

                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <div class="form-control-feedback">
                                <i class="icon-user-check text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password">

                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="form-control-feedback">
                                <i class="icon-user-lock text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">

                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <div class="form-control-feedback">
                                <i class="icon-user-lock text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2">Your contacts</span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Your email">

                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="form-control-feedback">
                                <i class="icon-mention text-muted"></i>
                            </div>
                        </div>


                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2">Additions</span>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <div class="uniform-checker"><span class="checked"><input type="checkbox" name="remember" class="form-input-styled" checked="" data-fouc=""></span></div>
                                    Send me <a href="#">test account settings</a>
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <div class="uniform-checker"><span class="checked"><input type="checkbox" name="remember" class="form-input-styled" checked="" data-fouc=""></span></div>
                                    Subscribe to monthly newsletter
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <div class="uniform-checker"><span><input type="checkbox" name="remember" class="form-input-styled" data-fouc=""></span></div>
                                    Accept <a href="#">terms of service</a>
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn bg-teal-400 btn-block">Register <i class="icon-circle-right2 ml-2"></i></button>
                    </div>
                </div>
            </form>
            <!-- /registration form -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>

