@model EditExpenseModel

@{
    ViewData["Title"] = "Edit";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="text-black-50"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a asp-controller="Expenses" asp-action="Index" asp-area="Admin" class="btn btn-labeled btn-labeled-right bg-primary"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">Expense List</span></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Edit Expense</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <partial name="_ActionMessage" model="@Model.Response" />
            <div class="">
                <form asp-action="Edit">
                    <div class="">
                        <fieldset class="mb-3">

                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="Id">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="Title"></label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" asp-for="Title">
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="Description"></label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" asp-for="Description">
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="Amount"></label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" asp-for="Amount">
                                            <span asp-validation-for="Amount" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="ExpenseType"></label>
                                        <div class="col-lg-8">
                                            <select class="form-control" asp-for="ExpenseType" asp-items="@(new SelectList(Model.ExpenseTypeSelectList,"Value","Text"))">
                                                <option value="">Choose--</option>
                                            </select>
                                            <span asp-validation-for="ExpenseType" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-4 required" asp-for="ExpenseDate"></label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control pickadate-accessibility" placeholder="Select Date" asp-for="ExpenseDate">
                                                <span class="input-group-append">
                                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                                </span>
                                            </div>
                                            <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                    <div class="">
                        <div class="d-flex justify-content-end">
                            <a asp-controller="Expenses" asp-action="Index" asp-area="Admin" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                            <button type="submit" class="btn bg-teal ml-2"><i class="icon-file-check2"></i> Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<!-- /Content area -->


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_FormInputScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DateTimePickerScriptsPartial.cshtml" />
}

